<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myfistapp.sunshine_app">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SunShine_App">
        <activity
            android:name=".Activity.TrangChu"
            android:exported="true" />
        <activity
            android:name=".Activity.YeuThich"
            android:exported="true" />
        <activity
            android:name=".Activity.ThongBao"
            android:exported="true" />
        <activity
            android:name=".Activity.Splash"
            android:exported="true" />
        <activity
            android:name=".Activity.LienHe"
            android:exported="true" />
        <activity
            android:name=".Activity.ThanhToan"
            android:exported="true" />
        <activity
            android:name=".Activity.GioHang"
            android:exported="true" />
        <activity
            android:name=".Activity.DangKy"
            android:exported="true" />
        <activity
            android:name=".Activity.DiaChi"
            android:exported="true" />
        <activity
            android:name=".Activity.Introduction"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.DangNhap"
            android:exported="true" />
        <activity
            android:name=".Activity.SanPham"
            android:exported="true" />
        <activity
            android:name=".Activity.TrangCaNhan"
            android:exported="true" />
        <activity
            android:name=".Activity.ThongTinCaNhanH2"
            android:exported="false" />
        <activity
            android:name=".Activity.ThietLapMatKhau"
            android:exported="false" />
        <activity
            android:name=".Activity.ThemDiaChi"
            android:exported="false" />
        <activity
            android:name=".Activity.SuaDiaChi"
            android:exported="false" />
        <activity
            android:name=".Activity.LichSuMuaHang"
            android:exported="false" />
        <activity
            android:name=".Activity.DiaChiGiaoHang"
            android:exported="false" />
        <activity
            android:name=".Activity.ChinhSuaThongTin"
            android:exported="false" />
        <activity
            android:name=".Activity.ChiTietDonHang"
            android:exported="false" />
    </application>

</manifest>